<div class="row">
			<div class="col-md-12 mb-2">
				<div class="page-header-breadcrumb">
					<ul class="breadcrumb-title">
						<li class="breadcrumb-item"><a th:href="@{/admin}"> <i
								class="feather icon-home"></i> Trang chủ
						</a></li>
						<li class="breadcrumb-item"><a href="#!">Danh sách nhân viên</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="card px-3">
					<div class="card-header px-0 pb-2">
						<h2 class="text-uppercase text-center">Danh sách nhân viên</h2>
						
						
					</div>
					<div class="card-block table-border-style">
						<div class="table-responsive">
							<table class="table table-bordered" id="dtBasicExample">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Họ Tên</th>
                                <th>Email</th>

                                <th>Quyền</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each users}}
                            <tr>
                                <th>{{@index}}</th>
                                <td>{{username}}</td>
                                <td>{{email}}</td>

                                <td>{{role.description}}</td>
                                <td>
                                   <a href="/admin/user/restore/{{_id}}" 
												class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Restore</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
						</div>
					</div>
				</div>
			</div>
		</div>