<div class="row">
    <div class="col-md-12 mb-2">
        <div class="page-header-breadcrumb">
            <ul class="breadcrumb-title">
                <li class="breadcrumb-item"><a href="/admin/home"> <i class="feather icon-home"></i> Trang chủ
                    </a></li>
                <li class="breadcrumb-item"><a href="#!">Danh sách sản phẩm
                        </a></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card px-3">
            <div class="card-header px-0 pb-2">
                <h2 class="text-uppercase text-center">Danh sách sản phẩm</h2>
                <a href="/admin/product/add" class="btn btn-sm btn-primary">Thêm
                    mới</a>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tiêu Đề</th>
                                <th>Mô tả</th>
                                <th>Hình Đại Diện</th>
                                <th>Giá Bán</th>
                                <th>Danh mục</th>
                                <th>Hành Động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <th>{{@key}}</th>
                                <td>{{name}}</td>
                                <td>{{description}}</td>
                                <td><img src='{{image}}' height="50" class="p-1 border" /></td>
                                
                                <td class="text-danger font-weight-bold">{{price}}</td>
                                <td>{{category.name}}</td>
                                <td>
                                     <a href="/admin/product/update-img/{{_id}}" class="btn btn-sm btn-success btn-round py-1 font-weight-bold">Cập nhật hình ảnh</a>
                                   <a href="/admin/product/edit/{{_id}}" class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Sửa</a>
                                    <a href="/admin/product/delete/{{_id}}" class="btn btn-sm btn-danger btn-round py-1 font-weight-bold">Xóa</a>
                                </td>
                            </tr>
                             {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>